extends layout

mixin make-board(board)
    table.preview
        each x in range
            tr
                each y in range
                    -var className = (((x + y) % 2) === 0 ? 'white' : 'black') + 'Square';
                    td(class=className)
                        -var val = board[(x*8)+y];
                        if val
                            img(src=val)

block content
    each row in rows
        .row
            for data in row
                .col-xs-6.col-md-3
                    a.thumbnail(href='/detail/'+data.fen): +make-board(data.board)
                    .caption: p= "+/="
