extends layout

mixin make-board(board)
    table.result
        for x in range
            tr
                for y in range
                    -var clazz = ((x+y % 2) === 0 ? 'white' : 'black') + 'Square';
                    td(class=clazz)
                        -var val = board[(x*8)+y];
                        if val
                            img(src=val)

block content
    for row in rows
        .row
            for board in row
                .col-xs-6.col-md-3
                    a.thumbnail(href='#'): +make-board(board)
                    .caption: p= "+/="
