.page-wrap {
    margin:0;
    padding:0;
    border:0;
}
.navbar {
    margin-bottom:20;
}

#hamburger:after {
    top: 20px;
}
#hamburger:before {
    top: 10px;
}
#hamburger {
    box-sizing: border-box;
    display:block;
    width:70px;
    height:45px;
    position:fixed;
    top:20px;
    left:0px;
    z-index:2;
}
#hamburger:before, #hamburger:after, #hamburger span {
    background: none repeat scroll 0% 0% #888;
    content: "";
    display: block;
    width:30px;
    height:5px;
    position: absolute;
    left:20px;
}
.navbar-header .row {
    margin-left:10px;
}
#content {
    margin-bottom:20px;
}

footer {
    padding-top:5px;
    padding-bottom:15px;
    background-color:rgb(250,250,250);

    /* cross browser linear gradient hack */
    background-image:-webkit-gradient(linear,center top, center bottom,from(#f2f2f2),to(#f2f2f2));
    background-image:-moz-linear-gradient(center top, rgb(242,242,242),rgb(255,255,255));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#ffffff');

    background-repeat:repeat-x;
}
footer p {
    display: inline-block;
    margin-right:5px;
    margin-left:5px;
}

/* figurine movetext */
body {
    font-family: 'pgn4web Liberation Sans', sans-serif;
}

.move, .variation, .commentMove {
    font-family: 'pgn4web ChessSansPiratf', 'pgn4web Liberation Sans', sans-serif;
}
.moveOn {
    font-weight:bold;
}
.whiteSquare img, .blackSquare img {
    height:45px;
    width:45px;
}
.whiteSquare, .highlightWhiteSquare {
    background-color:#dcdcdc;
}
.blackSquare, .highlightBlackSquare {
    background-color:#708090;
}

#game-board-nav {
    padding-left:20px;
    margin-bottom:0;
    background:transparent;
}
#game-text-container {
    background-color:rgba(224,224,224,0.4);

    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.5);

    /* cross browser rounded corners */
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    /* cross browser background clip */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    border: 1px solid rgba(0,0,0,0.25);

    padding-top:15px;
    padding-bottom:35px;
    padding-right:15px;
    padding-left: 15px;

    /* this gives it height(!) */
    overflow:hidden;
}

.btn-group.btn-group-justified {
    margin-top: 5px;
}
#GameText {
    text-decoration:none;
    text-align:justify;
}
#GameText .move {
    color: #696969;
}

/* list preview styling */
.preview {
    height:210px;
    width:210px;
    margin: auto;
}
.preview img, .preview td {
    width:26px;
    min-width:26px;
    height:26px;
}
